Package: hadoop
Source: hadoop
Version: 2.4.0-0.0.1
Architecture: all
Maintainer: Atkins <dev@bigtop.apache.org>
Section: misc
Priority: extra
Homepage: http://hadoop.apache.org/
Description: hadoop

