Package: zookeeper
Source: zookeeper
Version: 3.6.4-0.0.1
Architecture: all
Maintainer: Atkins <atkinschang@gmail.com>
Section: misc
Priority: extra
Homepage: http://zookeeper.apache.org/
Description: zookeeper

